body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: rgb(50, 50, 50);
    color: white;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    border-radius: 6px;
}

nav{
    width: 100%;
    height: 30px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
}

#main, #downlode{
    width: 50%;
    height: 100%;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-left: 0;
    border-radius: 6px;
    cursor: pointer;
}

#main:hover, #downlode:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.5); /* subtle white glow */                       /* small zoom */
    transition: all 0.3s ease;
}
#downlode{
    margin-right: 0;
    margin-left: 2px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 100px;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 10, 10);
    border-radius: 6px;
}

main{
    width: 75%;
    height: 300px;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 2px white solid;
    border-radius: 6px;
    overflow: scroll;
    position: absolute;
    top: 140px;
    left: 10px;
}

#mainDownlode, #mainMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainDownlode{
    display: none;
}

#heartArt{
    margin: 3px;
}

aside{
    width: 23%;
    height: 300px;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 10, 10);
    border-radius: 6px;
    position: absolute;
    right: 5px !important;
    top: 180px;
}
